{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "> 5%"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-flow-comments",
    "transform-decorators-legacy",
    "transform-class",
    "transform-class-properties",
    ["@babel/plugin-transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "@babel/plugin-syntax-flow",
    "transform-flow-strip-types",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
